:root {
  --bkgd: #262626;
  --snake: #9AFA55;
  --snake-head: #E0A23B;
  --apple: #ED3324;
  --score: #6FFBE3;

  --font: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--bkgd);
}

.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  padding-bottom: 25px;
  font-size: 3.2rem;
  color: #fff;
}

#canvas {
  border: 2px solid var(--snake);
  background: transparent;
  font-family: var(--font);
  display: block;
}